body {
    display: block;
    text-align: center;
}

img {
    display:table;
    user-select: none;
}

.imageDiv {
    border: 2px solid red;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
}

.insideTextDiv {
    font-size: 20px;
    position: absolute;
    display: inline-block;
    user-select: none;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #e7e7e7; color: black;
    opacity: .9;
    border: 1px solid #000;
    cursor: pointer;
}

.del-visible {
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.del {
    display: none;
    /*float:left;*/
}

.revers {
    transform: scaleX(-1);
}